html{
  font-size: 62.5%;
}

body {
  font-family: 'orbitron';
  color: #000;
  height: 100vh;
  background-image: url(background.png);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
}

.main_container {
  margin-top: 10%;
}

.cv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}



.img1 {
  width: 100%;
  margin-left: 25%;
}

.home_tardis {
  z-index: 1000;
  width: 10rem;
  margin-top: 2%;
  margin-left: 2%;
  float: inherit;
}




@media (min-width: 1439px) {
  .main_container {
    margin-top: 0%;
  }
*/
}
