/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #4D7FD5;
}

html {
  font-size: 62.5%;
}

.home-page {
  background: black;
  height: 100%;
  width: 100%;
  color: #fff;
}

h1 {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 20px;
}
@media (min-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  margin-top: 2.5rem;
  height: 16.8rem;
  width: 16.8rem;
  overflow: hidden;
  background: url("moi.736fae82.jpg") #9BCD39;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0.5rem solid #9BCD39;
  border-radius: 50%;
}

.home-container {
  margin-top: 5rem;
  font-size: 2rem;
}
.home-container h2 {
  margin-bottom: 2rem;
}

.categories {
  display: flex;
  align-items: center;
  position: relative;
  width: 25rem;
  height: 5rem;
  background: #A1FCDF;
  border: 0.3rem solid #9BCD39;
  margin-bottom: 2rem;
  color: black;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .categories-container {
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .categories {
    height: 15rem;
    width: 30%;
    justify-content: center;
  }
  .categories-link {
    display: none;
  }
  .categories:hover > .categories-link {
    display: block;
  }
}
.categories-circle {
  position: absolute;
  top: -0.4rem;
  height: 5.2rem;
  width: 5.2rem;
  background: #A1FCDF;
  border: 0.3rem solid #9BCD39;
  border-radius: 50%;
  margin-left: -9%;
}
@media (min-width: 600px) {
  .categories-circle {
    margin-left: 0%;
    top: 90%;
    right: 40%;
  }
}
.categories-link {
  color: black;
  margin-left: 0.5rem;
}
.categories img {
  height: 2.5rem;
  width: 2.9rem;
  margin-left: 40;
}
@media (min-width: 600px) {
  .categories img {
    margin-left: 10;
    height: 7rem;
    width: 8rem;
  }
}
@media (min-width: 600px) {
  .categories:hover > .categories img {
    height: 2.5rem;
    width: 2.9rem;
  }
}

Body {
  background-color: black;
}

.CV-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: Black;
  margin: 22px auto;
  margin-bottom: 0;
  padding: 5px 20px;
  box-sizing: 50px;
  border: solid 3px #9BCD39;
  background-color: #5EC2B7;
  border-bottom: 0;
}
@media (min-width: 600px) {
  .CV-page {
    width: 97.5%;
    max-width: 1300px;
  }
}
.CV-page h1 {
  font-size: 20px;
}
.CV-page .iconleCV {
  width: 29.8px;
  height: 29.8px;
}
.CV-page .iconleCV img {
  width: 100%;
  height: 100%;
}

.CVlebody {
  height: 85%;
  margin: 0 auto;
  padding-bottom: 4rem;
  border: solid 3px #9BCD39;
  background-color: #5EC2B7;
  border-top: 0;
}
@media (min-width: 600px) {
  .CVlebody {
    max-width: 1300px;
  }
}

.CVImage {
  width: 30%;
  height: auto;
  margin: 0 auto;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .CVImage {width: 70%;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .CVImage {width: 50%;}
}
@media only screen and (min-device-width : 100px) and (max-device-width : 767px) and (orientation : landscape) {
    .CVImage {width: 35%; height: 106%; padding-top: 5%;}
}
@media only screen and (min-device-width : 100px) and (max-device-width : 767px) and (orientation : portrait) {
    .CVImage {width: 80%; height: 80%; padding-top: 25%;}
}

.CVImage img {
  width: 100%;
  height: 100%;
}

.CVImage:hover img {
  width: 104%;
  height: 104%;
}

.cerclebasP {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -23px;
  text-align: center;
  border: solid 3px #9BCD39;
  background-color: #5EC2B7;
  position: relative;
}

.iconcvbas {
  margin-top: 6px;
}

.apropomoi {
  font-size: 20px;
  color: green;
}
@media (min-width: 600px) {
  .apropomoi {
    font-size: 40px;
  }
}

.corpus {
  font-family: Avenir Next;
  font-size: 15px;
  text-align: center;
  padding-top: 36px;
}
@media (min-width: 600px) {
  .corpus {
    font-size: 30px;
  }
}

.letext {
  margin-top: 26px;
}

.contacticon {
  text-align: center;
  padding-top: 15%;
}
@media (min-width: 600px) {
  .contacticon {
    padding-top: 15%;
  }
}

.giticon {
  margin-left: 4%;
}

.mailicon {
  margin-right: 4%;
}

.titreprojet {
  text-align: center;
  padding-top: 2%;
  font-family: Avenir Next;
  font-size: 15px;
  text-decoration: underline;
}

.Projetlebody {
  height: 85%;
  margin: 0 auto;
  border: solid 3px #9BCD39;
  background-color: #5EC2B7;
  border-top: 0;
}
@media (min-width: 600px) {
  .Projetlebody {
    max-width: 1300px;
  }
}

.projets {
  padding-top: 4%;
}

.ProjetImage {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .ProjetImage {
    width: 33vw;
  }
}
.ProjetImage img {
  width: 100%;
  height: 80%;
}

.ProjetImage:hover img {
  width: 104%;
  height: 84%;
}

@font-face {
  font-family: SilomBol;
  src: url(Silom.c9dd0cfe.ttf);
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  font-family: Silom;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
